body,
body *,
body *::before,
body *::after {margin:0;padding:0;border:0;background:transparent;box-sizing:border-box;text-decoration:none;outline:none;font-family:inherit;}
ol, ul, li {list-style:none;display:block;}
table {border-collapse: collapse;border-spacing:0;}
a img {border: none;}

input,
textarea,
select,
button,
input{appearance: none; border-radius: 0;}

button,
a{cursor: pointer; color: inherit;}
textarea{resize: none;}

[readonly] + span,
[readonly]{pointer-events: none; opacity: .4;}

body{
    font-family: 'Montserrat', sans-serif;
}

.linkItem {
    color: rgb(69, 77, 161);
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    padding: 0px;
  }

.Title{
    background-color: rgb(152, 176, 198);
    line-height: 0;
    padding: 10px;
}

.directors{
    background-color: rgb(162, 205, 197);
    padding: 2px;
}

.writers{
    background-color: rgb(195, 205, 162);
    padding: 2x;
}

.actors{
    background-color: rgb(208, 194, 170);
    padding: 2px;
}

.title{
    background-color: rgb(208, 176, 170);
    padding: 2px;
}